
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }
    <div>
        <h1>Connection</h1>
        <form method="post">
            <input type="text" id="Name" name="Name" />
            <button type="submit">OK,verifier</button>
        </form>
    </div>
</body>
</html>
